{{ define "head" }}
	{{ if .Site.Params.bgImg -}}
	<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "main" }}
	{{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<div id="home-title">
				<img src="{{ .Site.Params.Logo }}" width=200></img>
			</div>
			<h1 id="home-title">{{ .Site.Title }}</h1>
			{{- with .Site.Params.homeSubtitle }}
			<p id="home-subtitle">{{.}}</p>
			{{- end }}
			{{- with .Site.Params.social }}
				<div id="home-social">
					{{ partialCached "social-icons.html" . }}
				</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
			{{ if .IsTranslated }}
				<nav class="LangNav">
					<div id="home-langnav">
				{{ range .AllTranslations }}
						<a href="{{ .Permalink }}" target="_self" rel="noopener me" title="{{ .Language.LanguageName }}"><img src="{{ .Language.Params.icon }}" height="24"></a>
				{{ end}}
					</div>
				</nav>
			{{ end }}

		</div>
		<div id="home-footer">
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
			</p>
		</div>
	</div>
{{ end }}
